@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #191919;
  color: #303030;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.todolist {
  border-radius: 16px;
  background-color: #4044c9;
  box-shadow: 1px 1px 5px #4044c9;
  overflow: hidden;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  &__header {
    padding: 25px;
    h3 {
      color: #fff;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__new-task {
    display: flex;
    gap: 5px;
    button {
      background-color: #fff;
    }
  }
  &__body {
    flex: 1 1 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 35px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  &__list {
    flex: 1 1 auto;
    list-style: none;
    margin-bottom: 30px;
    li {
      display: flex;
      align-items: center;
      gap: 15px;
      button {
        background-color: #f2f2f2;
      }
      label {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      span {
        font-size: 18px;
        line-height: 1;
      }
    }
  }
  &__btns {
    display: flex;
    gap: 10px;
  }
}
